{% extends "App/padre.html" %}

{% load static %}

{% block contenidovariable %}

<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">NEW YORK</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Clásica metrópolis vibrante, Nueva York deslumbra con su horizonte icónico, luces deslumbrantes y diversidad inigualable. Rascacielos majestuosos se elevan sobre calles bulliciosas, mientras el arte y la cultura se entrelazan en cada esquina. La Estatua de la Libertad vigila el puerto, testigo de sueños y oportunidades. Central Park invita a la serenidad en medio del ajetreo urbano. Los sabores del mundo se encuentran en sus innumerables restaurantes. Nueva York, la ciudad que nunca duerme, cautiva con su energía inigualable y su espíritu audaz.</p>
                <a class="btn btn-primary btn-xl" href="{% url 'Ciudades' %}">Volver</a>
            </div>
        </div>
    </div>
</header>

{% endblock contenidovariable %}
