{% extends "App/padre.html" %}

{% load static %}

{% block contenidovariable %}

<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Playa del Carmen</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5"> Situada en la Riviera Maya, la Playa del Carmen es famosa por sus aguas turquesas y su animado ambiente. Esta playa ofrece una combinación perfecta de belleza natural y vibrante vida nocturna. Con kilómetros de arena blanca, restaurantes y tiendas a lo largo de la famosa Quinta Avenida, Playa del Carmen te invita a disfrutar del sol, el mar y la diversión sin fin.</p>
                <a class="btn btn-primary btn-xl" href="{% url 'Playas' %}">Volver</a>
            </div>
        </div>
    </div>
</header>

{% endblock contenidovariable %}