{% extends "App/padre.html" %}

{% load static %}

{% block contenidovariable %}

<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Playa de Patong</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Situada en la isla de Phuket, la playa de Patong es una mezcla de belleza tropical y animada vida nocturna. Sus aguas de color esmeralda y su arena blanca te invitan a relajarte bajo el sol, mientras que su bulliciosa zona costera ofrece una amplia variedad de restaurantes, bares y entretenimiento. La playa de Patong es el lugar perfecto para combinar días de descanso con diversión sin fin.</p>
                <a class="btn btn-primary btn-xl" href="{% url 'Playas' %}">Volver</a>
            </div>
        </div>
    </div>
</header>

{% endblock contenidovariable %}