{% extends "App/padre.html" %}

{% load static %}

{% block contenidovariable %}

<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">RIO DE JANEIRO</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Con su exuberante naturaleza y su carnaval vibrante, Río de Janeiro es pura energía y alegría. Sus playas icónicas, como Copacabana e Ipanema, son un paraíso tropical donde el sol y la música crean una sinfonía de vida. El Cristo Redentor observa desde lo alto mientras la ciudad baila al ritmo de la samba. Río de Janeiro es una fiesta interminable de color y diversión.</p>
                <a class="btn btn-primary btn-xl" href="{% url 'Ciudades' %}">Volver</a>
            </div>
        </div>
    </div>
</header>

{% endblock contenidovariable %}